@media(max-width: 1000px) {
    .container1 img {
        align-items: center;
    }
}

@media(max-width:1000px) {
    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        padding: 20px;
        flex-direction: column;
        margin-right: 20px;
    }
}

@media(max-width:1000px) {
    .onglets1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin: 20px;
        padding: 20px;
        margin-right: 20px;
    }
}

@media(max-width:1000px) {
    .sous-titres {
        display: inline;
        justify-content: space-between;
        text-align: center;
        margin: 10px;
        padding: 10px;
        margin-right: 20px;
    }
}

@media(max-width:1000px) {
    .search-container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
}
}

@media(max-width:1000px){
    .filtres{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            align-content: space-around;
}
}