/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    position: relative;

}


/* header */
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}

.en-tête {
    display: flex;
}

.social {
    margin-left: 20px;
}

.toggle-input {
    display: none;
}

.social label {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.social label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
}

.toggle-input:checked+label {
    color: blue;
}

.toggle-input:checked+label::before {
    background-color: blue;
}

.toggle-input:hover+label::before {
    background-color: blue;
}

.toggle-input:not(:checked):hover+label::before {
    background-color: transparent;
}

.sous-titres {
    margin-bottom: 50px;
}

.sous-titres h6 {
    font-size: 20px;
}

.card-title {
    font-size: 16px;
}


/*SMARTPHONE*/
@media(max-width:1000px) {
    .sous-titres {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
    }
}


.search-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}



/* Styles pour l'enveloppe de recherche contenant l'icône et la zone de recherche */
.search-wrapper {
    display: flex;
    align-items: center;
    border: none;
    /* Ajout d'une bordure pour l'esthétique */

}

/* Styles pour l'icône de recherche */
#search-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #000000;
    /* Couleur de l'icône */
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    width: 10%;
    border-radius: 5px 0 0 5px;
}

/* Styles pour la zone de recherche */
#search-box {
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    /* Ajustez la largeur selon vos besoins */

}

/* Styles pour le bouton de recherche */
#envoyer {
    background-color: #0065FC;
    /* Couleur de fond du bouton */
    color: white;
    /* Couleur du texte du bouton */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

}

/*smartphone*/
@media(max-width: 1000px) {
    .filtres button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
}

.filtres {
    justify-content: space-between;
    display: flex;
    padding-bottom: 40px;
    max-width: 1440px;

    margin-right: 50%;
}

.filtres button {
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.filtres button i {
    color: #0065FC;
}

.btn:hover {
    background-color: #DEEBFF;
}

.logements {
    padding-bottom: 40px;
    max-width: 1440px;
    display: flex;


}

.button-i {
    background-color: #fff;
    color: #0065FC;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 5px;
}



body {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 50px;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;

}

/*smartphone*/
@media(max-width :1000px) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
}

@media(max-width :1000px) {
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    border-radius: 20px;
    width: 25%;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.hebergements-title {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    justify-content: space-between;
    display: inline-block;
    margin-top: 33px;
    width: 30%;
    padding: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.Marseille {
    margin-top: 50px;
}

.activity-marseille {
    display: flex;
    justify-content: space-between;
}

.activity {
    /* border: solid 1px rgb(17, 0, 255); */
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.activitycard {
    height: 350px;
    /* border: solid 1px red; */
    border-radius: 20px;
    padding: 5px;
}



@media (min-width:501px) and (max-width: 1000px) {
    .activity-cards {
        width: 35%;
        margin: 5px;
    }
}

@media (max-width: 500px) {
    .activity-cards {
        width: 50%;
        margin: 5px;
    }
}



.activity-cards .card-content {
    padding: 10px;
}

/* Styles pour le titre de chaque carte */
.activity-cards .card-title {
    font-size: 18px;
}

#vignette1 {
    background-image: url("../images/activites/florian-wehde.jpg");
    object-fit: cover;
}

#vignette2 {
    background-image: url("../images/activites/kilyan-sockalingum.jpg");
    object-fit: cover;
}


#vignette3 {
    background-image: url("../images/activites/paul-hermann.jpg");
    object-fit: cover;
}


#vignette4 {
    background-image: url("../images/activites/reno-laithienne.jpg");
    object-fit: cover;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1000px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}