
@media(max-width:500px) {
    .container1 img {
        align-items: center;
    }
    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        padding: 20px;
        flex-direction: column;
        margin-right: 20px;
    }
    h1{
        font-size: 20px;
        padding-bottom: 5px;
        align-items: center;
    }
}


@media(max-width:500px) {
    .onglets1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin: 20px;
        padding: 20px;
        margin-right: 20px;
        
    }
}

@media(max-width:500px) {
    .sous-titres {
        display: inline;
        justify-content: space-between;
        text-align: center;
        margin: 10px;
        padding: 10px;
        margin-right: 20px;
    }
}

@media(max-width:500px) {
    .search-container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
}

#envoyer{
    display: none;
}


.icon2{
        background-color: #0065FC;
    /* Couleur de fond du bouton */
    color: white;
    /* Couleur du texte du bouton */
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    max-width: 500px;
}
}

@media(min-width:500px){
    .icon2{
        display: none;

    }
    .icon1{
        display: none;
    }
}


@media(max-width:500px){
    .filtres{
        margin: 10px;
        padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
}
}
@media(max-width:500px){
    .filtres button{
        width: 40%;
        margin: 10px;
        padding: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
}
.logements .button-i{
    height: 20px;
    
    }
}



@media(max-width:500px){
        .hebergements-and-populaires{
            
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.populaires{
    width: 100%;
    margin-bottom: 50px;
}

.populaires-cards{
    flex-direction: column;
}



@media(max-width:500px){
    .hebergements{
        width: 100%;
        
        
}
.hebergements-cards .card{
    width: 100%;
    margin-bottom: 50px;
    box-sizing:border-box;
}
.hebergements-title{
    
}
}


}

@media(max-width:500px){
    .activity-cards{
        display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
align-content: center;
}
}

@media(max-width:500px){
    .france-activity{
        width: 100%;
}
}

@media(max-width:500px){
    .footer{
        display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
align-content: center;
}
}

@media(max-width:500px){
    .footer{
        height: 100%;
        text-align: center;
}
}




    

